@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

header {
    padding-top: 51px;
    background: url(../images/developer.png), url(../images/header_bg.png) #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.logo h2 {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: 900;
    font-size: 41px;
}

.logo h2 span {
    color: #FD6E0A;
}

ul {
    display: flex;
    gap: 51px;
    align-items: center;
}

ul li a {
    color: #474747;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 38px 0 230px;
    gap: 20px;
}

.hero__conntent {
    max-width: 585px;
}

#hero .hero__conntent h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#hero .hero__conntent h1 {
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #181818;
}

#hero .hero__conntent p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#hero .hero__img {
    max-width: 585px;
    width: 100%;
}

#hero .hero__img img {
    width: 100%;
    height: auto;
}