@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.heading{
    text-align: center;
}
.heading h3{
    font-size: 35px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 30px;
}
.heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
header {
    padding-top: 51px;
    background: url(../images/developer.png), url(../images/header_bg.png) #FFF8F3;
    background-repeat: no-repeat;
    background-position: 38px 23px, bottom right;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo h2 {
    font-weight: 900;
    font-size: 41px;
    color: black;
}

.logo h2 span {
    color: #FD6E0A;
}

ul {
    display: flex;
    align-items: center;
    gap: 51px;
}

ul li a {
    color: #474747;
}


#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0 230px;

    gap: 20px;
}

.hero__conntent {
    max-width: 585px;
}

#hero .hero__conntent h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#hero .hero__conntent h1 {
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #181818;
}

#hero .hero__conntent p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#hero .hero__img {
    max-width: 585px;
    width: 100%;
}

#hero .hero__img img {
    width: 100%;
    height: auto;
}



/* about section */
#about__me{
    margin-top:130px ;
}
#about__me .about__me__conntent{
    background-color: #FFF8F3;
}
#about__me .about__me__heading{
   padding: 131px 0;
}
#about__me .about__cards{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
#about__me .about__cards .about__card{
    text-align: center;
}
#about__me .about__cards .about__card p{
    font-size: 20px;
    color: #757575;
}
#about__me .about__cards .about__card h4{
    font-size: 20px;
    font-weight: 600;
    color: #181818;
}

/* what i do */
#what_i_do{
    padding-top: 130px;
}
#what_i_do .what_i_do_cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
}
#what_i_do .what_i_do_card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000013;
}
#what_i_do .what_i_do_card img{
    height: 44px;
    width: 44px;
    aspect-ratio: 1;
    margin-bottom: 30px;
}
#what_i_do .what_i_do_card h4{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#what_i_do .what_i_do_card p{
    font-size: 17px;
    color: #757575;
    line-height: 28px;
}

/* resume */
#resume{
    margin-top: 130px;
}
#resume .container > h2{
    font-size: 35px;
    font-weight: 800;
    color: #181818;
    text-align: center;
    margin-bottom: 113px;
}
#resume .resume_content{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
#resume .resume_content .education h2,
#resume .resume_content .experience h2{
    font-size: 30px;
    color: #474747;
    font-weight: 700;
}
#resume .resume_content .education__card{
    max-width: 551px;
    margin-top: 30px;
}
#resume .resume_content .education__card .education__heading{
    font-size: 25px;
    color: #474747;
    font-weight: 700;
    margin-bottom: 10px;
}
#resume .resume_content .education__card .education__date{
    font-size: 20px;
    color: #757575;
    font-weight: 500;
    margin-bottom: 20px;
}
#resume .resume_content .education__card .education__skil{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
.resume_content hr{
    margin: 30px 0;
}
#resume .container > .btn{
    display: block;
    margin: 50px auto 0;
}

/* contact / form */
#form{
    margin-top: 113px;
    background-color: #FFF8F3;
}
.contact__me{
    padding: 130px 0;
    display: flex;
    justify-content: space-between;
}
#form .lcontact{
    max-width: 562px;
}
#form .lcontact > h2,
#form .contact__form > h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 28px;
}
#form .lcontact p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
#form .lcontact .sc__icon{
    display: flex;
    gap: 24px;
}
#form .lcontact .sc__icon .facebook,
#form .lcontact .sc__icon .twiter,
#form .lcontact .sc__icon .instagram{
  height: 24px;
  width: 24px;
}
#form .contact__form{
    max-width: 461px;
    width: 100%;
}
#form .contact__form .text,
#form .contact__form .email{
   border: none;
   width: 100%;
   padding: 18px 30px;
   border-radius: 5px;
}
#form .contact__form .email{
    margin: 24px 0;
}
#form .contact__form .textarea{
    display: block;
    width: 100%;
    padding: 18px 30px;
    margin: 24px 0;
    border: none;
    border-radius: 5px;
    resize: vertical;
}
