@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.heading{
    text-align: center;
}
.heading h3{
    font-size: 35px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 30px;
}
.heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
header {
    padding-top: 51px;
    background: url(../images/developer.png), url(../images/header_bg.png) #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.logo h2 {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: 900;
    font-size: 41px;
}

.logo h2 span {
    color: #FD6E0A;
}

ul {
    display: flex;
    gap: 51px;
    align-items: center;
}

ul li a {
    color: #474747;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 38px 0 230px;
    gap: 20px;
}

.hero__conntent {
    max-width: 585px;
}

#hero .hero__conntent h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#hero .hero__conntent h1 {
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #181818;
}

#hero .hero__conntent p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#hero .hero__img {
    max-width: 585px;
    width: 100%;
}

#hero .hero__img img {
    width: 100%;
    height: auto;
}









#about__me{
    margin-top:130px ;

}
#about__me .about__me__conntent{
    width: 71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0 auto;
}
#about__me .about__me__heading{
   padding: 131px 0;
}
#about__me .about__cards{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
#about__me .about__cards .about__card{
    text-align: center;
}
#about__me .about__cards .about__card p{
    font-size: 20px;
    color: #757575;
}
#about__me .about__cards .about__card h4{
    font-size: 20px;
    font-weight: 600;
    color: #181818;
}





#what_i_do{
    padding-top: 130px;
}
#what_i_do .what_i_do_heading{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#what_i_do .what_i_do_cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 50px;
}
#what_i_do .what_i_do_card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000013;
}
#what_i_do .what_i_do_card img{
    height: 44px;
    width: 44px;
    aspect-ratio: 1;
    margin-bottom: 30px;
}
#what_i_do .what_i_do_card h4{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#what_i_do .what_i_do_card p{
    font-size: 17;
    color: #757575;
    line-height: 28px;
}